body {
    background-color: gainsboro;
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    margin: 0;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
  }
  
  .sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
  }
  

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; (vh =view port which is browser size)
  }
   */

/* h1 {
  margin-bottom: 0px;
  }
*/

/* button {
  margin-top: 20px;
  font-size: 24px;
  font-family: system-ui, sans-serif;
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  }
*/

/* .sqr {
  border-radius: 8px;
*/

/* board {
  gap: 4px;
  width
*/